@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e5e7eb;
    padding: 16px;
}

.card {
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 12px 0px;
}